* {
    margin: 0px;
}
#main {
    /* background-color: #324b73; */
    background-color: #253146;
    margin: 0px;
    padding: 3px;
    height: 1020px;
}
#flexHolder {
    display: flex;
}
#board {   
    border: 2px solid royalblue;
    display: inline-block;
    flex-direction: column;
    width: 800px;
    height: 817px;
}
#totalBoard {
    display: inline-flex;
    margin-left: 4%;
    width: 850px;
    height: 816px;
}
.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
.squares {
    width: 100px;
    height: 100px;        
    margin: 0px;
    border: 1px solid black; 
}
.b {
    background-color: navy;
}
.g {    
    background-color: #8f4306;
}
.s {    
    background-color: rgb(26, 33, 36);
}
.g:hover {
    /* background-color: rgb(65, 65, 236); */
    background-color: rgb(52, 115, 136);
}
.y {    
    background-color: burlywood;
}
.y:hover {
    background-color: rgb(52, 115, 136);
}
.icons {    
    height: 90px;
}
.vsquare {
    height: 42px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40px;
    color: red;
    font-size: x-large;
} 
.hsquare {
    width: 100px;
    height: 20px;
    text-emphasis: bold;
    color: red;
    font-size: x-large;
}
#vtag {
    display: inline-flex;
    flex-direction: column;
    width: 20px;
    height: 816px;
    margin: 0px;
    margin-bottom: 1%;
}
#htag {    
    width: 800px;
    height: 20px;
    margin: 0px;
    display: flex;
    margin-left: 7.5%;
}

#model {
    background-color: wheat;
    margin: auto;
    width: 450px;
    height: 200px;
}
#error {
    color: red;
    font-weight: 900;
}
#button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 70px;
    margin-left: 43%;
    margin-top: 20%;
}
@media screen and (max-width: 1100px){
    #main {
        height: 1300px;
    }
    #flexHolder {
        display: block;
        width: 850px;
        height: 1076px;
    }
    #htag {
        position: relative;
    }
}